<div class="panel__row hide-me">
    <div class="panel__col-1">{{label}}</div>
    <div class="panel__col-2">
        <input type="hidden" data-param="{{param}}"
            {{#each props}}
                {{@key}} = "{{this}}"
            {{/each}}
        >
    </div>
</div>
