<div class="panel__row panel__row--multicol-toggle spread-out">
    <span title="{{{description}}}">Manually adjust column widths</span>
    <label>
        <input type="checkbox" name="multicol-toggle" checked>
        <div class="toggle-bg"></div>
        <div class="toggle-inner"></div>
    </label>
</div>
